<div class="menu shadow">
    <ul>
        <li><a href="/mypage">Моя анкета</a></li>
        <li><a href="/search">Смотреть анкеты</a></li>
        <li><a href="/messages">Сообщения</a></li>
    </ul>
</div>