<div class="menu shadow show">
    <ul>
        {{#if isMy}}
        <li class="active"><a href="/mypage">Моя анкета</a></li>
        {{else}}
        <li><a href="/mypage">Моя анкета</a></li>
        {{/if}}
        {{#if isSearch}}
        <li class="active"><a href="/search">Смотреть анкеты</a> <span class="badge">4</span></li>
        {{else}}
        <li><a href="/search">Смотреть анкеты</a> <span class="badge">4</span></li>
        {{/if}}
        {{#if isMessages}}
        <li class="active"><a href="/messages">Сообщения</a> <span class="badge">4</span></li>
        {{else}}
        <li><a href="/messages">Сообщения</a> <span class="badge">4</span></li>
        {{/if}}
        <li><a href="/auth/logout" class="logout logout_hide">Выйти</a></li>
    </ul>
</div>