<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CHO.bar</a>
        {{#if isAuthentificated}}
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth/logout" class="logout">Выйти</a></li>
        </ul>
        {{/if}}
    </div>
</nav>