<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">CHO.bar</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>