<div class="right-content-block">
    <div class="right-content-block_text">
        <h3>Найди свою половинку.</h3>
    </div>
    <div class="imagis"> <img class="img_boy"
            src="https://avatars.mds.yandex.net/get-pdb/1211668/8610a681-350c-41dc-af7c-b4459c02b891/s600" alt="img">
        <img class="img_girl" src="https://javasea.ru/uploads/posts/2018-07/1531841800_milaya-krasivaya-devushka.jpg"
            alt="img"></div>

</div>