<div class="content-auth-page">
    <div class="auth_login">
        <h5>Авторизация</h5>
        <div class="row ">
            <form class="col s12" method="POST" action="/auth/login">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login" type="text" class="validate">
                        <label for="login">Логин</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Пароль</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit" method="POST">Войти</button>
            </form>
        </div>
        <form action="/auth/register" method="POST">
            <p>нет аккаунта?</p>
            <button class="waves-effect waves-light btn" type="submit" method="POST">Зарегистрироваться</button>
        </form>
    </div>

    <div class="right-content-block">
        <h3>Найди свою половинку.</h3>
        <div class="imagis"> <img class="img_boy"
                src="https://avatars.mds.yandex.net/get-pdb/1211668/8610a681-350c-41dc-af7c-b4459c02b891/s600"
                alt="img">
            <img class="img_girl"
                src="https://javasea.ru/uploads/posts/2018-07/1531841800_milaya-krasivaya-devushka.jpg" alt="img"></div>

    </div>
</div>