<div class="mypage">
    {{>menu}}

    <div class="imgBlock">
        <div class="imgBlock_img shadow" style="background-image: url({{img}});">

        </div>
        <div class="imgBlock_name">{{name}}</div>
        <div class="imgBlock_age">{{age}}</div>
    </div>
    <div class="descriptionBloc shadow">
        <p class="descriptionBloc_text">{{description}}</p>
    </div>
    <a href="/editinf" class="btn edit-btn">Редактировать информацию</a>

</div>