<div class="content-auth-page">
    <div class="auth_register shadow">
        <h5>Регистрация</h5>
        <div class="row">
            <form class="" method="POST" action="/auth/register">
                <div class="auth-register-form">
                    <div class="row auth-register-form_child">
                        <div class="row">
                            <div class="input-field">
                                <input id="login" name="login" type="text" class="validate" required>
                                <label for="login">Логин</label>
                            </div>
                        </div>
                        <div class="row auth-register-form_child">
                            <div class="input-field">
                                <input id="password" name="password" type="text" class="validate" required>
                                <label for="password">Пароль</label>
                            </div>
                        </div>
                    </div>

                    <div class="row auth-register-form_child">
                        <div class="input-field">
                            <textarea id="description" name="description" class="materialize-textarea"></textarea>
                            <label for="description">Расскажите немного о себе</label>
                        </div>
                    </div>
                    <div class="row auth-register-form_child">
                        <h6>Пол</h6>
                        <p>
                            <label>
                                <input name="gender" id="gender" type="radio" value="male" checked />
                                <span>Парень</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="gender" id="gender" type="radio" value="famale" />
                                <span>Девушка</span>
                            </label>
                        </p>
                    </div>

                </div>

                <button class="waves-effect waves-light btn" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>

    {{>rightImages}}
</div>