<div class="mypage">
    {{>menu}}

    <div class="imgBlock">
        <div class="imgBlock_img shadow" style="background-image: image({{img}});">

        </div>
        <div class="imgBlock_name">{{name}}</div>
        <div class="imgBlock_age">{{age}}</div>
    </div>
    <div class="descriptionBloc shadow">
        <p class="descriptionBloc_text">{{description}}</p>
    </div>
    <div class="buttons">
        <button class="btn green">CHOтко</button>
        <button class="btn deep-orange accent-4">Дальше</button>
    </div>
</div>