html,
body {
    min-width: 320px;
}

body {
    background-color: #f4f4f4;
    min-width: 324px;
}

.shadow {
    box-shadow: 1px 2px 2px rgba(4, 93, 177, 0.356);
}

.content-auth-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    height: calc(100vh - 64px);
    width: 50vw;
}

.img_girl,
.img_boy {
    height: 25vw;
    margin-top: 4rem;
}

.img_girl {
    transform: rotate(10deg);
}

.img_boy {
    transform: rotate(-10deg);
}

.nav-wrapper {
    border-bottom: solid 1px #003a65;
    z-index: 2;
    background-color: #fff;
    height: 8vh;
}


.brand-logo {
    margin: 0;
    padding: 0;
    font-size: 1em;
    margin-left: 10vw;
}

.nav-wrapper a {
    color: #343434;
    box-shadow: none;
    text-shadow: none;
}

/* Авторизация */

.auth_login,
.auth_register {
    background-color: #fff;
    position: relative;
}

.auth_login {
    margin-left: 12vw;
    min-width: 300px;
    width: 26vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth_login .btn {
    background-color: #003a65;
    max-width: 20vw;
    max-height: 5vh;
}

.auth_login h5 {
    font-size: 1.3em;
}

.auth_login div {
    width: 18vw;
}

.auth_register {
    margin-left: 3vw;
    width: 44vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-register-form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 3em;
    grid-auto-rows: minmax(auto, auto);
    justify-items: center;
}


.auth-register-form_child {
    width: 100%;
    display: grid;
}

.auth_login::after,
.auth_register::after,
.menu::after {
    display: block;
    content: "";
    width: 100%;
    height: 3vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform-origin: right;
    box-shadow: 1px 2px 2px rgba(4, 93, 177, 0.356);
    z-index: 1;
}

.auth_login::after {
    transform: translateY(65vh) skewY(6deg);
}

.auth_register::after {
    transform: translateY(70vh) skewY(4deg);
}

.auth-register-form_child>div>.input-field>input {
    width: 80%;
}

/* Меню */

.menu {
    position: relative;
    background-color: #fff;
    width: 250px;
    min-height: 400px;
    margin-left: 100px;
    box-shadow: 1px 2px 2px rgba(4, 93, 177, 0.356);
}

.menu::after {
    transform: translateY(400px) skewY(-6deg);
    transform-origin: left;
}

.menu ul li a {
    color: #343434;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul li :hover {
    background-color: #f0f0f0;
}

.menu ul li.active {
    background-color: #f0f0f0;
}

/* Моя страница */

.mypage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: start;
    justify-items: center;
}

.mypage .imgBlock .imgBlock_img {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin-top: 50px;
}

.descriptionBloc {
    background-color: #fff;
    width: 500px;
    min-height: 400px;
    margin-right: 200px;
    margin-top: 50px;
    font-size: 1.2rem;
    padding: 10px;
}

.imgBlock_name,
.imgBlock_age {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBlock_name {
    font-size: 2rem;
}

.imgBlock_age {
    font-size: 1.2rem;
}

.imgBlock_img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    background-position: center;
    background-size: 100%;
}

.imgBlock_img_edit {
    opacity: 0.5;
}

/* Страница поиска пар */

.mypage .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    grid-column: 2/3;
    justify-content: end;
}

.mypage .edit-btn {
    grid-column: 2/3;
}

/* Изменение информации */

.editPage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    justify-items: start;
}

.editPage_form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}

.editPage .imgBlock .imgBlock_img {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin-top: 100px;
}

.editPage_form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
}

.editPage_form_description form {
    width: 100%;
}

.modall {
    width: 100%;
    display: grid;
    justify-items: start;
}

.modal_good {
    background-color: #0097a7;
    padding: 1rem;
    color: #fff;
    font-size: 1.3em;
    border-radius: 10px;
    transition: ease .2s;
}

.modal_err {
    background-color: red;
}